streamlit>=1.28.0
textblob>=0.17.1
python-dateutil>=2.8.2
openai
python-dotenv
motor
nest-asyncio
langchain 
langchain-core 
langchain-community==0.3.22 
langchain-openai==0.2.0 
faiss-cpu
flaml[automl]
langchain-huggingface
pyautogen
autogen
torch
transformers
sentence-transformers
fastapi
uvicorn
pydantic
sentencepiece
protobuf
jq
