streamlit
pymongo
python-dotenv
motor
langchain
langchain_classic
langchain_openai
langchain_community
langchain_core
langchain_huggingface
faiss-cpu
torch
transformers
sentence-transformers
scikit-learn
pyautogen 
autogen
jq
fastapi-limiter
fastapi-cache2